numpy==1.26.4; platform_machine == "x86_64"
scipy==1.12.0; platform_machine == "x86_64"
numpy==2.1.3; platform_machine != "x86_64"
scipy==1.14.1; platform_machine != "x86_64"
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
